@font-face {
    font-family: 'Futura';
    src: "../fonts/FuturaMedium.otf" format("otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: "../fonts/FuturaBold.otf" format("otf");
    font-weight: 700;
    font-style: normal;
}

$ooptimo-blue: #202f66;
$ooptimo-green: #6ed5b8;

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-xl {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

* {
    transition: all 0.3s ease;
}

a {
    font-family: 'Futura', sans-serif;
    font-weight: 500;
    color: $ooptimo-blue;
    font-size: 14px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}

p {
    font-family: 'Futura', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: $ooptimo-blue;
    margin: 0 0 10px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        height: 0;

        .header-pill {
            background-color: #6ed5b8;
            padding: 25px 20px;
            border-radius: 55px;

            @media screen and (min-width: 480px) {
                padding: 30px 30px;
            }

            @media screen and (min-width: 768px) {
                padding: 35px 40px;
            }

            a {
                display: flex;

                .logo {
                    max-width: 100%;
                    height: auto;
                    width: 125px;

                    @media screen and (min-width: 480px) {
                        width: 150px;
                    }

                    @media screen and (min-width: 768px) {
                        width: 180px;
                    }
                }
            }
        }
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;

        .main-section-content-wrapper {
            background: linear-gradient(180deg, #7E87A7 0%, #7E87A7 53%, $ooptimo-blue 100%);
            flex: 1;

            .main-section-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                text-align: center;
                padding: 160px 0 80px;

                @media screen and (min-width: 480px) {
                    padding: 200px 0 100px;
                }

                @media screen and (min-width: 768px) {
                    padding: 300px 0 150px;
                }

                h1 {
                    font-family: Georgia, serif;
                    font-size: 35px;
                    color: #fff;
                    text-align: center;
                    font-weight: 400;
                    margin: 0;

                    @media screen and (min-width: 480px) {
                        font-size: 40px;
                    }

                    @media screen and (min-width: 768px) {
                        font-size: 60px;
                    }

                    span {
                        font-family: 'Futura', sans-serif;
                        color: $ooptimo-green;
                        font-weight: 700;
                    }
                }

                h2 {
                    font-family: 'Futura', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    max-width: 450px;
                    color: #fff;
                    margin: 0;

                    @media screen and (min-width: 768px) {
                        font-size: 22px;
                    }
                }

                .btn-primary {
                    font-family: 'Futura', sans-serif;
                    font-weight: 700;
                    font-size: 18px;
                    background-color: $ooptimo-green;
                    color: $ooptimo-blue;
                    padding: 17px 55px;
                    border: none;
                    border-radius: 5px;
                    text-decoration: none;
                    display: inline-block;
                    border-radius: 8px;
                }

                .btn-primary:hover {
                    background-color: #fff;
                    color: $ooptimo-green;
                }
            }
        }
    }

    footer {
        .footer-top {
            padding: 50px 0;

            .footer-columns {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                flex-direction: column;
                flex-wrap: wrap;

                @media screen and (min-width: 480px) {
                    flex-direction: row;
                }

                .footer-col {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @media screen and (min-width: 480px) {
                        flex-basis: 45%;
                    }

                    @media screen and (min-width: 768px) {
                        flex-basis: auto;
                        align-items: flex-start;
                    }

                    h4 {
                        font-family: Georgia, serif;
                        font-size: 20px;
                        color: $ooptimo-blue;
                        margin: 0 0 10px;
                        font-weight: 400;

                        @media screen and (min-width: 768px) {
                            font-size: 30px;
                            margin: 0 0 30px;
                        }
                    }

                    .logo {
                        max-width: 100%;
                        width: 220px;
                        margin-bottom: 20px;
                    }

                    .legal-link {
                        margin-bottom: 10px;

                        &:hover {
                            color: $ooptimo-green;
                        }
                    }

                    .socials {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;

                        a {
                            &:hover {
                                .fa-circle {
                                    color: $ooptimo-green;
                                }
                            }
                        }
                    }

                }
            }
        }

        .footer-bottom {
            text-align: center;
            padding: 20px 0;
            background-color: $ooptimo-blue;
            align-items: center;
            justify-content: center;
            display: flex;

            a {
                display: flex;

                .logo {
                    max-width: 100%;
                    width: 150px;
                }
            }
        }
    }
}